# sales prediction

In [31]:
import pandas as pd

In [32]:
df=pd.read_csv("C:\\Users\\manis\\Downloads\\archive (1)\\Advertising.csv")

In [33]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [49]:
from matplotlib import pyplot as plt

In [ ]:
plt.bar(df["TV"],df['S'])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [35]:
df['Unnamed: 0'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200], dtype=int64)

In [36]:
df=df.drop('Unnamed: 0',axis=1)

In [37]:
df.head()
df1=df.drop('Sales',axis=1)
target=df['Sales']

In [38]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaled_features=scaler.fit_transform(df1)

In [39]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(scaled_features,target,test_size=0.2,random_state=1)

In [40]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain,ytrain)

LinearRegression()

In [41]:
model.score(xtest,ytest)

0.8927605914615385

In [42]:
from sklearn.metrics import r2_score
print(r2_score(model.predict(xtest),ytest))

0.8832957189120245

In [43]:
from sklearn.svm import SVR
model1=SVR()
model1.fit(xtrain,ytrain)

SVR()

In [46]:
model1.score(xtest,ytest)

0.9750917578616629

In [47]:
r2_score(model1.predict(xtest),ytest)

0.9701506854332015

## result

from the above situation we can observe that SVR gives best score when compared to linear regression